
/* Importing Fonts */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@font-face {
  font-family: heading;
  src: url("../fonts/modernBold.otf");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "rubik";
  background-color: #FBF9F5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family : heading;
  font-size: 4rem;
  font-weight: 900;
}

main {
    display: grid;
    grid-template-columns: 55% 45%;
}